body,div ul{
	margin:0px;
	padding:0px;
}
body{
	background-color: #f5f5f5;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,"PingFang SC","Noto Sans CJK SC","Source Han Sans CN","Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    font-size: 12px;
}
.all{
	clear: both;
	width: 950px;
	/*height: 3000px;*/
	margin:0 auto;
	/*background: white;										*/
}
.db-top-nav{
	width: 100%;
	height: 28px;
	color: #d5d5d5;
	font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    font-family: Helvetica, Arial, sans-serif;
	background-color: #545652;
}
.db-top-nav ul li{
	list-style: none;
	float: left;
}
.db-top-nav a{
	display: inline-block;
	padding:0 12px;
	font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #d5d5d5;
}
.db-top-nav a:hover{
	color: #fff;
}
.top-nav-info{
	float: right;
	width: 99px;
	height: 28px;
	margin-right: 12px;
	/*background-color: pink;*/
}
.top-nav-info a{
	float: left;
}
.lnk-doubanapp{
	position: relative;
	float: right;
	width: 108px;
	height: 28px;
	/*background-color: pink;*/
}
.doubanapp-tip{
	display: none;
    position: absolute;
    top: 28px;
    left: -73.5px;
    width: 211px;
    height: 453.2px;
    padding:10px 20px;
    background-color:#fff;
}
.logo{
	width: 211px;
	height: 208.4px;
	/*background-color: pink;*/
}
.logo img{
	width: 111px;
	height: 111px;
	margin:47px 0 0 50px;
}
.logo p{
	margin:10px 0 0 80px;
    font-size: 24px;
    font-weight: 400;
    color: #111;
}
.slogan{
	font-size: 13px;
    letter-spacing: 3px;
    font-weight: 400;
    margin-left: 53px;
    color: #111;
}
.logo-second{
	margin:20px 0 0 30px;
}
.doubanapp-tip .last {
	margin:0 0 0 60px;
}
.doubanapp-tip p a{
	display: inline-block;
	padding:0 ;
	font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #37a;
}
.doubanapp-tip p span{
	display: inline-block;
	margin: 0 5px;
	font-size: 16px;
	color: #111;
}
.doubanapp-tip p a:hover{
	color: #37a;
}








.header{
	width: 100%;
	height: 52px;
	border-top: 2px solid #69b219;
}
.inner{
	position: relative;
	width: 950px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #d8d8d8;
	/*background-color: pink;*/
}
.inner-logo img{
	float: left;
	height: 19px;
	margin-top:15px;
}
.header ul{
	float: left;
	display: inline-block;
	margin-left: 15px;
}
.header ul li{
	float: left;
	height: 47px;
	line-height: 50px;
	list-style: none;
	float: left;
	padding: 0px 10px;
	font-size: 13px;
}
.header ul li a{
	text-decoration: none;color: #4a4a4a;
	color: #4a4a4a;
}
.sub-category{
	display: none;
	position: absolute;
	top: 52px;
	left:0;
    width: 950px;
    height: 300px;
    background-color: #fff;
    z-index: 100;
}
.select{
	position: relative;
	display: inline-block;
	float: left;
	width: 114px;
	border: 1px solid #d8d8d8;
    border-radius: 24px;
    margin: 14px 0 0 64px;
    padding-left: 8px;
    height: 24.6px;
}
.text{
	position: relative;
	left: -5px;
	border-radius: 22px;
	width: 80px;
	height: 22px;
	border: none;
	background-color: #f5f5f5; 
}

.fm{
	float: right;
	width: 20px;
    height: 22px;
    margin-right:4px;
}
.market-user{
	float: right;
	width: 169px;
	height: 25.6px;
	margin: 12px -2px 5px 0px;
	/*background-color: #846464;*/
}
.market-user p:hover{
	color: #d8d8d8;
}
.online{
	float: left;
	width: 90px;
	height: 25.6px;
	border-right:  1px solid #d8d8d8;
}
.online img{
	float: left;
    width: 24px;
    height: 24px;
    border-radius: 24px;
}
.online p,.shu p{
	height: 24px;
    line-height: 24px;
    color: #4a4a4a;
}
.shu{
	float: right;
	width: 58px;
	height: 25.6px;
}



.all .banner{
	margin-top: 15px;
}
.all .nav{
	width: 80px;
    /*height: 3000px;*/
    float: left;
    background-color: #f5f5f5; 
}
.background{
	background: #d8d8d8;
}
.all .nav h3{
	font-weight: bold;
    margin-top: 6px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-bottom: 3px;
    border-bottom: 1px solid #979797;
    width: 60px;
}
.all .nav ul{
	padding:0px;

}
.all .nav ul li{
	list-style: none;
}
.all .nav>ul>li>a{
	display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    margin-bottom: 6px;
    font-weight: bolder;
}
.all .nav ul li a:hover{
	color: #979797;
}
.all .nav ul li ul{
	display: none;
}
.all .nav ul li ul li a{
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    margin-bottom: 6px;

}
.nav- {
	display: none;
}
.nav-bar{
	display: none;
}
.title- i{
	display: none;
}
.int .right{
	float: right;
	width: 860px;
	height: 1870px;
}
.int .right .top{
	background: #eaeaea;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.int .right .top-{
	background: #eaeaea;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.sort{
	margin-left: 10px;
    float: left;
    color: #666;
}
.sort a{
    margin-right: 16px;
    color: #4a4a4a;
}
.sort a i{
	min-width: 10px;
    text-align: center;
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.sort a i:before{
    content: "\f175";
}
.pag_{
	width: 281px;
	float: right;
}
.pag_ .man_{
	width: 60px;
	text-align:center;
	float: left;
}
.pag_ .woman_{
	width: 60px;
	text-align:center;
	float: left;
}
.pag_ a{
	cursor: pointer;
}
.pag_ .number_{
	display: block;
    width: 20px;
    float: left;
    text-align: center;
}
.pag{
	width: 281px;
	float: right;
}
.pag .man{
	width: 60px;
	text-align:center;
	float: left;
}
.pag .woman{
	
	width: 60px;
	text-align:center;
	float: left;
}
.pag p{
	cursor: pointer;
	margin:0px;
}
.pag_ p{
	cursor: pointer;
	margin:0px;
}
.pag a{
	cursor: pointer;
}
.pag .number{
	display: block;
    width: 20px;
    float: left;
    text-align: center;
}
.font{
    font-weight: bold;

}
.grid{
	/*display: none;*/
	width: 860px;
	height: 1790px;
}
.grid .product{
	float: left;
    width: 33.33333%;
    height: 358px;
    /*padding-left: 10px;
    padding-right: 10px;*/
}

.product img{
	width: 273px;
	height: 273px;
}
.product img:hover{
	opacity: 0.8;
}
.name{
	margin:0px;
	margin-top:10px;
	height: 18px;
    line-height: 18px;
}
.brand{
	margin:0px;
	color: #bfbfbf;
}
.info del{
	color: #bfbfbf;
    font-size: 14px;
}
.info .price{
	color: #e15336;
    font-size: 14px;
}
.info .like{
	float: right;
    height: 20px;
    margin-right: 20px;
    line-height: 20px;
    color: #bfbfbf;
}
.like i img{
	width: 18px;
    height: 18px;
}
.bottom{
	clear: both;
	width: 100%;
	height: 70px;
}
.letter{
    border-bottom: 1px dashed#ddd;
    height: 30px;
	width: 950px;
    color: #666;
    text-align: right;
    margin: 0 auto -35px;
}
.letter a{
	color: #669;
}
.message{
    color: #999;
    display: block;
    margin: 40px auto 20px;
    padding-top: 6px;
    width: 950px;
    overflow: hidden;
}
.message .right{
    float: right;
}
.message .right a{
	color: #669;
}
.message .right a:hover{
	background: #37a;
    color: #fff;
}