<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/Web/detail/css/details.css">
	<script src="__PUBLIC__/Web/detail/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Web/detail/js/details.js"></script>
</head>
<body>
	<div class="shop-subnav clearfix">
		<div class="left-shop"><a href="">全部商品</a></div>
		<div class="right-shop">
			<a href="" class="right-shop-font">关注店铺</a>
			<span>·</span>
			<span>
				<b>5190</b>
				 人关注
			</span>
			<span>|</span>
			<a href="">返回集市首页</a>
		</div>
	</div>
	<div class="content">
		<div class="content-shop clearfix">
			<div class="pic-box">
				<div class="pic-window">
					<img src="__PUBLIC__/Web/detail/images/01.jpg" class="img-first">
					<img src="__PUBLIC__/Web/detail/images/02.jpg">
					<img src="__PUBLIC__/Web/detail/images/03.jpg">
					<img src="__PUBLIC__/Web/detail/images/04.jpg">
					<img src="__PUBLIC__/Web/detail/images/05.jpg">
				</div>
				<div class="pic-ul">
					<a><img src="__PUBLIC__/Web/detail/images/01.jpg"></a>
					<a><img src="__PUBLIC__/Web/detail/images/02.jpg"></a>
					<a><img src="__PUBLIC__/Web/detail/images/03.jpg"></a>
					<a><img src="__PUBLIC__/Web/detail/images/04.jpg"></a>
					<a><img src="__PUBLIC__/Web/detail/images/05.jpg"></a>
				</div>
			</div>
			<div class="shopping-box">
				<div>
					<h3>先笙中长款简约休闲经典款羽绒服</h3>
					<h5>
						<strong>先笙</strong>
					</h5>
					<h4>
						<strong>￥399.00</strong>
						<del>￥430.00</del>
					</h4>
					<a>运费： 8.00 元起</a>
				</div>
				<div class="Courier">
					<p>
						<div class="Courier-pic">惠</div>
						<b>全店满299包邮</b>
					</p>
					<p>满299元包邮</p>
				</div>
				<hr>
				<div class="blank"></div>
				<hr>
				<div class="chooes">
					<div class="color">
						<dl class="clearfix">
							<dt>
								<span>颜色</span>
								<span>：</span>
							</dt>
							<dd class="color-dd"><a class="border-color">黑色</a></dd>
						</dl>
						<dl class="size clearfix">
							<dt>
								<span>尺寸</span>
								<span>：</span>
							</dt>
							<dd><a>m</a></dd>
							<dd><a class="border-color">l</a></dd>
							<dd><a>xl</a></dd>
							<dd><a>xxl</a></dd>
						</dl>
					</div>
					<div class="number">
						<dl class="clearfix">
							<dt>
								<span>数量</span>
								<span>：</span>
							</dt>
							<dd class="color-dd">
								<input class="minus" type="button" value="-">
								<input class="value" type="text" value="1">
								<input class="add" type="button" value="+">
								<span class="inventory">库存充足</span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="shopping">
					<a href="">立即购买</a>
				</div>
				<div class="shopping-bottom">
					<div class="shopping-ad">
						<span>豆瓣市集担保</span>
						<i>|</i>
						<span>七天无理由退货</span>
						<i>|</i>
						<span>正品保证</span>
						<i>|</i>
						<span>独立品牌</span>
					</div>
					<div class="shopping-last clearfix">
						<a href="">
							<img src="__PUBLIC__/Web/detail/images/01.png">
							<span>17</span>
						</a>
						<a href="">
							<img src="__PUBLIC__/Web/detail/images/02.png">
							<span>分享到</span>
						</a>
						<a href="">
							<img src="__PUBLIC__/Web/detail/images/03.png">
							<span>豆邮店主</span>
							<div class="share"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="center">
		<div class="main">
			<div class="main-header">
				<ul>
					<li class="img back">商品详情</li>
					<li class="img">评价 <span>0</span></li>
					<li class="img">讨论 <span>1</span></li>
				</ul>
				<div class="mian-absolute">
					<a href="">购物说明</a>
					<i>|</i>
					<a href="">联系豆瓣</a>
				</div>
				<hr>
			</div>	
			<div class="show int">
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detai__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
				<hr>
				<img src="__PUBLIC__/Web/detail/images/07.jpg">
			</div>
			<div class="show"></div>
			<div class="show">
				<div class="third-content">
					<div class="third-header">
						<img src="__PUBLIC__/Web/detail/images/04.png">
						<a class="third-font">先看最早的</a>
						<i>|</i>
						<a>先看最新的</a>
					</div>
					<div class="third-footer">
						<a href=""><img src="__PUBLIC__/Web/detail/images/08.jpg"></a>
						<div class="third-p clearfix">
							<p><span class="third-sp">whyisveryme</span><span class="third-on">2016-11-16 23:34:43</span></p>
							<p>含绒量是多少啊？</p>
							<div class="abso">举报</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
		<div class="sidebar">
			<h5>您可能喜欢的商品</h5>
			<div class="column">
				<a href="" class="column-pic"><img src="__PUBLIC__/Web/detail/images/06.jpg"></a>
				<p><a href="" class="cp-first">先笙男士新款简约舒适混色毛衣</a></p>
				<p><a href="" class="cp-second">先笙</a></p>
				<del>170.00</del><span class="rmb">￥148.00</span>
				<div class="heart">
					<a href="">
						<img src="__PUBLIC__/Web/detail/images/01.png">
						<span>17</span>
					</a>
				</div>
			</div>
			<div class="column">
				<a href="" class="column-pic"><img src="__PUBLIC__/Web/detail/images/06.jpg"></a>
				<p><a href="" class="cp-first">先笙男士新款简约舒适混色毛衣</a></p>
				<p><a href="" class="cp-second">先笙</a></p>
				<del>170.00</del><span class="rmb">￥148.00</span>
				<div class="heart">
					<a href="">
						<img src="__PUBLIC__/Web/detail/images/01.png">
						<span>17</span>
					</a>
				</div>
			</div>
			<div class="column">
				<a href="" class="column-pic"><img src="__PUBLIC__/Web/detail/images/06.jpg"></a>
				<p><a href="" class="cp-first">先笙男士新款简约舒适混色毛衣</a></p>
				<p><a href="" class="cp-second">先笙</a></p>
				<del>170.00</del><span class="rmb">￥148.00</span>
				<div class="heart">
					<a href="">
						<img src="__PUBLIC__/Web/detail/images/01.png">
						<span>17</span>
					</a>
				</div>
			</div>
			<div class="column">
				<a href="" class="column-pic"><img src="__PUBLIC__/Web/detail/images/06.jpg"></a>
				<p><a href="" class="cp-first">先笙男士新款简约舒适混色毛衣</a></p>
				<p><a href="" class="cp-second">先笙</a></p>
				<del>170.00</del><span class="rmb">￥148.00</span>
				<div class="heart">
					<a href="">
						<img src="__PUBLIC__/Web/detail/images/01.png">
						<span>17</span>
					</a>
				</div>
			</div>
			<div class="column">
				<a href="" class="column-pic"><img src="__PUBLIC__/Web/detail/images/06.jpg"></a>
				<p><a href="" class="cp-first">先笙男士新款简约舒适混色毛衣</a></p>
				<p><a href="" class="cp-second">先笙</a></p>
				<del>170.00</del><span class="rmb">￥148.00</span>
				<div class="heart">
					<a href="">
						<img src="__PUBLIC__/Web/detail/images/01.png">
						<span>17</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
        	<div class="letter">
        		<i></i>
        		<span>申请入驻</span>
        		<a>逗邮</a>·
        		<a>电子邮件</a>
        	</div>
        	<div class="message">
        		<span> 2005－2016 douban.com, all rights reserved 北京豆网科技有限公司</span>
        		<div class="right">
	        		<a>关于豆瓣</a>·
	        		<a>在豆瓣工作</a>·
	        		<a>联系我们</a>·
	        		<a>免费声明</a>·
	        		<a>帮助中心</a>·
	        		<a>移动应用</a>·
	        		<a>豆瓣广告</a>
        		</div>
         	</div>
        </div>
</body>
</html>