<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>豆瓣市集</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Web/index/css/doubanshiji.css">
	<script src="__PUBLIC__/Web/index/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Web/index/js/doubanshiji.js"></script>
</head>
<body>





	<div class="db-top-nav">
		<ul>
			<li><a href="">豆瓣</a></li>
			<li><a href="">读书</a></li>
			<li><a href="">电影</a></li>
			<li><a href="">音乐</a></li>
			<li><a href="">同城</a></li>
			<li><a href="">小组</a></li>
			<li><a href="">阅读</a></li>
			<li><a href="">FM</a></li>
			<li><a href="">东西</a></li>
			<li><a href="">市集</a></li>
			<li><a href="">更多</a></li>
		</ul>
		<div class="top-nav-info">
			<a href="">登陆</a>
			<a href="">注册</a>
		</div>
		<div class="lnk-doubanapp">
			<a href="">下载豆瓣客户端</a>
			<div class="doubanapp-tip">
				<div class="logo">
					<img src="__PUBLIC__/Web/index/image/1.png">
					<p>豆瓣</p>
				</div>
				<p class="slogan">我们的精神角落</p>
                <img class="logo-second" src="__PUBLIC__/Web/index/image/2.png">
                <p class="last"><a href="">iPhone</a><span>·</span><a href="">Android</a></p>
			</div>
		</div>
	</div>






	<div class="header">
		<div class="inner">
			<a class="inner-logo" href=""><img src="__PUBLIC__/Web/index/image/3.png"></a>
			<ul class="important">
				<li>
					<a href="">饮食</a>
					<div class="sub-category">
						<div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div>
						<div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div>
						
					</div>
				</li>
				<li>
					<a href="">服装</a>
					<div class="sub-category"><div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div>
						<div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div></div>
				</li>
				<li>
					<a href="">配饰</a>
					<div class="sub-category"><div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div>
						<div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div></div>
				</li>
				<li>
					<a href="">包袋</a>
					<div class="sub-category"><div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div>
						<div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div></div>
				</li>
				<li>
					<a href="">鞋靴</a>
					<div class="sub-category"><div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div>
						<div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div></div>
				</li>
				<li>
					<a href="">美容护肤</a><div class="sub-category"></div>
					<div class="sub-category"><div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div>
						<div class="module">
							<ul>
								<li class="title">美酒</li>
								<li>葡萄酒</li>
								<li>白酒</li>
								<li>米酒</li>
								<li>啤酒</li>
								<li>洋酒</li>
								<li>其他</li>
							</ul>
						</div></div>
				</li>
				<li>
					<a href="">家居</a>
					<div class="sub-category"></div>
				</li>
				<li>
					<a href="">时间</a>
					<div class="sub-category"></div>
				</li>
				<li>
					<a href="">更多</a>
				</li>
			</ul>

			<div class="select">
				<input  type="text" name="text" class="text">
				<img src="__PUBLIC__/Web/index/image/4.png" class="fm">
			</div>
			<div class="market-user">
				<div class="online">
					<img src="__PUBLIC__/Web/index/image/10.jpg">
					<p><span>个人中心</span></p>
				</div>
				<div class="shu">
					<p><span>订单查询</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="market-wrapper">
		<div class="slide-box">
			<div class="left"><p><</p></div>
			<div class="right"><p>></p></div>
			<div class="slide-item">
				<div class="adv"><img src="__PUBLIC__/Web/index/image/11.jpg"></div>
				<div class="adv"><img src="__PUBLIC__/Web/index/image/12.jpg"></div>
				<div class="adv"><img src="__PUBLIC__/Web/index/image/13.jpg"></div>
				<div class="adv"><img src="__PUBLIC__/Web/index/image/14.jpg"></div>
		    </div>
		</div>
		<div class="slide-paginator">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
			<div class="all-item">
			    <div class="module-name">
			    	<p><i></i>热门商品<i></i></p>
			    </div>
				<div class="product-item">
					<div class="p-img">
						<a href="">
							<img src="__PUBLIC__/Web/index/image/15.jpg">
						</a>
					</div>
					<div class="p-title">
						<a href="">先笙绘冬季新款中长款闪电棉衣</a>
					</div>
					<div class="p-brand">
						<p>by<span>先笙</span></p>
					</div>
					<div class="p-price">
						<span class="prev">￥368.00</span>
						<span class="next">￥294</span>
						<span class="p-tag">冬装大促</span>
					</div>
				</div>
				<div class="product-item">
										<div class="p-img">
						<a href="">
							<img src="__PUBLIC__/Web/index/image/17.jpg">
						</a>
					</div>
					<div class="p-title">
						<a href="">先笙绘冬季新款中长款闪电棉衣</a>
					</div>
					<div class="p-brand">
						<p>by<span>先笙</span></p>
					</div>
					<div class="p-price">
						<span class="prev">￥368.00</span>
						<span class="next">￥294</span>
						<span class="p-tag">冬装大促</span>
					</div>
				</div>
				<div class="product-item">
					<div class="p-img">
						<a href="">
							<img src="__PUBLIC__/Web/index/image/16.jpg">
						</a>
					</div>
					<div class="p-title">
						<a href="">先笙绘冬季新款中长款闪电棉衣</a>
					</div>
					<div class="p-brand">
						<p>by<span>先笙</span></p>
					</div>
					<div class="p-price">
						<span class="prev">￥368.00</span>
						<span class="next">￥294</span>
						<span class="p-tag">冬装大促</span>
					</div>
				</div>
				<div class="product-item">
										<div class="p-img">
						<a href="">
							<img src="__PUBLIC__/Web/index/image/18.jpg">
						</a>
					</div>
					<div class="p-title">
						<a href="">先笙绘冬季新款中长款闪电棉衣</a>
					</div>
					<div class="p-brand">
						<p>by<span>先笙</span></p>
					</div>
					<div class="p-price">
						<span class="prev">￥368.00</span>
						<span class="next">￥294</span>
						<span class="p-tag">冬装大促</span>
					</div>
				</div>
				<div class="product-item">
										<div class="p-img">
						<a href="">
							<img src="__PUBLIC__/Web/index/image/19.jpg">
						</a>
					</div>
					<div class="p-title">
						<a href="">先笙绘冬季新款中长款闪电棉衣</a>
					</div>
					<div class="p-brand">
						<p>by<span>先笙</span></p>
					</div>
					<div class="p-price">
						<span class="prev">￥368.00</span>
						<span class="next">￥294</span>
						<span class="p-tag">冬装大促</span>
					</div>
				</div>
				<div class="product-item">
										<div class="p-img">
						<a href="">
							<img src="__PUBLIC__/Web/index/image/20.jpg">
						</a>
					</div>
					<div class="p-title">
						<a href="">先笙绘冬季新款中长款闪电棉衣</a>
					</div>
					<div class="p-brand">
						<p>by<span>先笙</span></p>
					</div>
					<div class="p-price">
						<span class="prev">￥368.00</span>
						<span class="next">￥294</span>
						<span class="p-tag">冬装大促</span>
					</div>
				</div>
				 <div class="module-name">
			    	<p><i></i>热门店铺<i></i></p>
			    </div>
                <div class="hot-shop">
                	<div class="shop-bg">
                		<img src="__PUBLIC__/Web/index/image/21.jpg">
                		<div class="shop-info">
                			<h2>PISN</h2>shop-title
                			<h3>秋冬系列，每周上新，注意关注偶</h3>
                		</div>
                	</div>
                	<div class="hot-shop-bd">
                		<img src="__PUBLIC__/Web/index/image/23.jpg">
                		<div class="shop-title">
                			<p class="style">PISN 复古优雅 一字领折袖修身套头针织衫</p>
                			<span class="prev">￥289.00</span>
							<span class="next">￥199.00</span>
							<p class="gray">店主推荐</p>
							<div class="hot-shop-btm">
								<img src="__PUBLIC__/Web/index/image/30.jpg">
								<img src="__PUBLIC__/Web/index/image/31.jpg">
								<img src="__PUBLIC__/Web/index/image/32.jpg">
								<div class="goto-shop">
								<p class="goto">进入店铺></p>
								</div>
							</div>
                		</div>
                	</div>
                </div>
                <div class="hot-shop">
                	<div class="shop-bg">
                		<img src="__PUBLIC__/Web/index/image/21.jpg">
                		<div class="shop-info">
                			<h2>PISN</h2>shop-title
                			<h3>秋冬系列，每周上新，注意关注偶</h3>
                		</div>
                	</div>
                	<div class="hot-shop-bd">
                		<img src="__PUBLIC__/Web/index/image/23.jpg">
                		<div class="shop-title">
                			<p class="style">PISN 复古优雅 一字领折袖修身套头针织衫</p>
                			<span class="prev">￥289.00</span>
							<span class="next">￥199.00</span>
							<p class="gray">店主推荐</p>
							<div class="hot-shop-btm">
								<img src="__PUBLIC__/Web/index/image/30.jpg">
								<img src="__PUBLIC__/Web/index/image/31.jpg">
								<img src="__PUBLIC__/Web/index/image/32.jpg">
								<div class="goto-shop">
								<p class="goto">进入店铺></p>
								</div>
							</div>
                		</div>
                	</div>
                </div>
			</div>
	</div>
	
</body>
</html>