<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Web/list/css/list.css">
	<script src="__PUBLIC__/Web/list/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Web/list/js/list.js"></script>
</head>
<body>
<div class="db-top-nav">
		<ul>
			<li><a href="">豆瓣</a></li>
			<li><a href="">读书</a></li>
			<li><a href="">电影</a></li>
			<li><a href="">音乐</a></li>
			<li><a href="">同城</a></li>
			<li><a href="">小组</a></li>
			<li><a href="">阅读</a></li>
			<li><a href="">FM</a></li>
			<li><a href="">东西</a></li>
			<li><a href="">市集</a></li>
			<li><a href="">更多</a></li>
		</ul>
		<div class="top-nav-info">
			<a href="">登陆</a>
			<a href="">注册</a>
		</div>
		<div class="lnk-doubanapp">
			<a href="">下载豆瓣客户端</a>
			<div class="doubanapp-tip">
				<div class="logo">
					<img src="__PUBLIC__/Web/list/images/111.png">
					<p>豆瓣</p>
				</div>
				<p class="slogan">我们的精神角落</p>
                <img class="logo-second" src="__PUBLIC__/Web/list/images/222.png">
                <p class="last"><a href="">iPhone</a><span>·</span><a href="">Android</a></p>
			</div>
		</div>
	</div>





	
	<div class="header">
		<div class="inner">
			<a class="inner-logo" href=""><img src="__PUBLIC__/Web/list/images/333.png"></a>
				<ul>
				<?php foreach ($li as $v) { ?>
				<li>
					<a href="">{$v['name']}</a>
					<div class="sub-category"></div>
				</li>
				<?php } ?>
				</ul>			

			<div class="select">
				<input  type="text" name="text" class="text">
				<img src="__PUBLIC__/Web/list/images/444.png" class="fm">
			</div>
			<div class="market-user">
				<div class="online">
					<img src="__PUBLIC__/Web/list/images/555.jpg">
					<p><span>个人中心</span></p>
				</div>
				<div class="shu">
					<p><span>订单查询</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="all">

		<div class="banner">
			<img src="__PUBLIC__/Web/list/images/0.jpg">
		</div>
		<div class="int">
			<div class="nav">
			    <h3>分类</h3>
				<ul>
					<li>
						<a class="title">饮食</a>
					</li>	
					<ul class="nav-">
						<li>
							<a class="title-"><i>-</i>酒水</a>
						</li>
					    <ul class="nav-bar">
							<li>-葡萄酒</li>
							<li>-白酒</li>
							<li>-米酒</li>
							<li>-啤酒</li>
							<li>-洋酒</li>
							<li>-其他</li>
						</ul>
							
							<li>
							    <a class="title-"><i>-</i>地方特产</a>
							</li>
							    <ul class="nav-bar">
									<li>-新疆</li>
									<li>-四川</li>
									<li>-湖南</li>
									<li>-云南</li>
									<li>-福建</li>
									<li>-北京</li>
									<li>-东北</li>
									<li>-其他</li>
								</ul>
							
							<li>
								<a class="title-"><i>-</i>饮料冲调</a>
							</li>
								<ul class="nav-bar">
									<li>-饮料</li>
									<li>-咖啡豆/咖啡粉</li>
									<li>-蜂蜜</li>
									<li>-冲饮谷物</li>
									<li>-速溶</li>
									<li>-其他</li>
								</ul>
							
			                <li>
			                	<a class="title-"><i>-</i>生鲜食品</a>
			                </li>
			                	<ul class="nav-bar">
									<li>-新鲜水果</li>
									<li>-海鲜水产</li>
									<li>-生肉禽蛋</li>
									<li>-产地直供</li>
								</ul>
			                
							<li>
								<a class="title-"><i>-</i>蜂蜜/咖啡/茶</a>
							</li>
								<ul class="nav-bar">
									<li>-蜂蜜</li>
								    <li>-咖啡</li>
									<li>-茗茶</li>
									
								</ul>
							
							<li>
								<a class="title-"><i>-</i>休闲食品</a>
							</li>
								<ul class="nav-bar">
									<li>-休闲零食</li>
									<li>-坚果炒货</li>
									<li>-饼干蛋糕</li>
									<li>-巧克力</li>
									<li>-肉铺果干</li>
									<li>-糖果</li>
									<li>-红枣</li>
									<li>-牛肉干</li>
								</ul>
							
							<li>
								<a class="title-"><i>-</i>保健食品</a>
							</li>
								<ul class="nav-bar">
									<li>-调节免疫</li>
									<li>-调节三高</li>
									<li>-美容美体</li>
									<li>-传统滋补</li>
									<li>-胃肠养护</li>
									<li>-改善疲劳，睡眠</li>
									<li>-其他</li>
									
								</ul>
							
							<li>
								<a class="title-"><i>-</i>节庆食品</a>
							</li>
								<ul class="nav-bar">
									<li>-其他</li>
									<li>-节日礼盒</li>
								</ul>
							
							<li>
								<a class="title-"><i>-</i>粮油调味</a>
							</li>
								<ul class="nav-bar">
									<li>-米面杂粮</li>
									<li>-食用油</li>
									<li>-干货</li>
									<li>-调味品</li>
								</ul>
							
							<li>
								<a class="title-"><i>-</i>进口食品</a>
							</li>
								<ul class="nav-bar">
									<li>-咖啡</li>
									<li>-糕点饼干</li>
									<li>-巧克力</li>
									<li>-零食</li>
									<li>-冲调饮品</li>
									<li>-粮油调味</li>
									<li>-其他</li>
								</ul>
							
							<li>
								<a class="title-"><i>-</i>有机食品</a>
							</li>
								<ul class="nav-bar">
									<li>-有机大米</li>
									<li>-有机杂粮</li>
									<li>-有机水果</li>
									<li>-其他</li>
								</ul>
								
						</ul>
					


					<li>
						<a class="title">服装</a>
					</li>
		                <ul class="nav-">
							<li>
								<a class="title-"><i>-</i>男下装</a>
							</li>
								<ul class="nav-bar">
									<li>-休闲裤</li>
									<li>-牛仔裤</li>
									<li>-短裤</li>
								</ul>					
							
							<li>
								<a class="title-"><i>-</i>男上装</a>
							</li>
								<ul class="nav-bar">
									<li>-外套</li>
									<li>-衬衫</li>
									<li>-卫衣</li>
									<li>-毛衣/针织衫</li>
									<li>-T恤/polo衫</li>
									<li>-大衣/风衣</li>
									<li>-马甲</li>
									<li>-棉服/羽绒服</li>
								</ul>
							
							<li>
								<a class="title-"><i>-</i>裙装</a>
							</li>
								<ul class="nav-bar">
									<li>-连衣裙</li>
									<li>-半身裙</li>
									<li>-礼服裙</li>
								</ul>	
							
			                <li>
			                	<a>女套装</a>
			                </li>
							<li>
								<a class="title-"><i>-</i>女下装</a>
							</li>
								<ul class="nav-bar">
									<li>-休闲裤</li>
									<li>-牛仔裤</li>
									<li>-湖短裤</li>
									<li>-紧身裤/打底裤</li>
								</ul>
							
							<li>
								<a class="title-"><i>-</i>女上装</a>
							</li>
								<ul class="nav-bar">
									<li>-外套</li>
									<li>-衬衫/雪纺衫</li>
									<li>-卫衣</li>
									<li>-毛衣/针织衫</li>
									<li>-T恤/polo衫</li>
									<li>-大衣/风衣</li>
									<li>-马甲</li>
									<li>-棉衣/羽绒服</li>
									<li>-吊带/背心</li>
								</ul>
								
						</ul>
					
					<li>
					    <a class="title">配饰</a>
					</li>
					    <ul class="nav-">
							<li><a>耳钉/耳环</a></li>
							<li><a>男袜</a></li>
							<li><a>墨镜</a></li>
			                <li><a>女袜</a></li>
							<li><a>眼镜</a></li>
							<li><a>项链/吊坠</a></li>
							<li><a>头饰</a></li>
							<li>
							<a>摆件/挂件</a></li>
							<li><a>戒指</a></li>
							<li><a>手套</a></li>
							<li>
								<a class="title-"><i>-</i>挂件</a>
							</li>	
								<ul class="nav-bar">
									<li>-钥匙扣</li>
								</ul>
							
							<li><a>其他</a></li>
							<li><a>胸针/袖扣</a></li>
							<li><a>腰带/皮带</a></li>
							<li><a>帽子/耳罩</a></li>
							<li><a>围巾/披肩</a></li>
							<li><a>手链/手镯</a></li>
					    </ul>
					
					<li>
						<a class="title">包袋</a>
					</li>
						<ul class="nav-">
							<li>
								<a class="title-"><i>-</i>男包</a>
							</li>
								<ul class="nav-bar">
									<li>-双肩包</li>
									<li>-单肩包</li>
									<li>-斜挎包</li>
									<li>-环保袋/帆布包</li>
									<li>-卡包/零钱包</li>
									<li>-手拿包</li>
									<li>-手提包</li>
									<li>-钱包</li>
									<li>-收纳袋/包</li>
									<li>-电脑包</li>
									<li>-行李箱</li>
								</ul>
							
							<li>
								<a class="title-"><i>-</i>女包</a>
							</li> 
								<ul class="nav-bar">
									<li>-双肩包</li>
									<li>-单肩包</li>
									<li>-斜挎包</li>
									<li>-环保袋/帆布包</li>
									<li>-卡包/零钱包</li>
									<li>-手拿包</li>
									<li>-手提包</li>
									<li>-钱包</li>
									<li>-收纳包/袋</li>
									<li>-电脑包</li>
									<li>-行李箱</li>
								</ul>
							 
				        </ul>
					
					<li>
						<a class="title">鞋靴</a>
					</li>
						<ul class="nav-">
							<li>
								<a class="title-"><i>-</i>女鞋</a>
							</li>
								<ul class="nav-bar">
									<li>-平底单鞋</li>
									<li>-高跟鞋</li>
									<li>-厚底鞋</li>
									<li>-运动休闲鞋</li>
									<li>-凉鞋</li>
									<li>-靴子</li>
									<li>-拖鞋</li>
								</ul>

							
							<li>
								<a class="title-"><i>-</i>男鞋</a>
							</li>
								<ul class="nav-bar">
									<li>-单鞋</li>
									<li>-运动休闲鞋</li>
									<li>-凉鞋</li>
									<li>-靴子</li>
									<li>-拖鞋</li>
								</ul>
							
						</ul>
					
					<li>
						<a class="title">美容护肤</a>
					</li>
						<ul class="nav-">
							<li><a>套装</a></li>
							<li>
								<a class="title-"><i>-</i>面部护肤</a>
								<ul class="nav-bar">
									<li>-洁面</li>
									<li>-霜/乳</li>
									<li>-眼部护理</li>
									<li>-唇部护理</li>
									<li>-面膜</li>
									<li>-凝胶/露</li>
									<li>-精华/精油</li>
									<li>-爽肤水/化妆水</li>
									<li>-卸妆</li>
									<li>-防晒霜/乳</li>
								</ul>
							</li>
	                        <li>
	                        	<a class="title-"><i>-</i>身体护理</a>
	                        	<ul class="nav-bar">
									<li>-身体乳/霜</li>
									<li>-沐浴/清洁</li>
									<li>-洗发护发</li>
									<li>-护手霜</li>
									<li>-牙膏牙刷</li>
									<li>-精油</li>
									<li>-美容工具</li>
									<li>-个人护理</li>

								</ul>
	                        </li>
							<li><a>香水</a></li>
							<li><a>指彩</a></li>
							<li>
								<a class="title-"><i>-</i>彩妆</a>
								<ul class="nav-bar">
									<li>-口红</li>
								</ul>
							</li>
						</ul>
					
					<li>
						<a class="title">家居</a>
					</li>
						<ul class="nav-">
							<li>
								<a class="title-"><i>-</i>>家纺</a>
								<ul class="nav-bar">
									<li>-抱枕</li>
									<li>-床品件套</li>
									<li>-被/毯</li>
									<li>-枕头</li>
									<li>-毛巾/浴巾</li>
									<li>-布艺软饰</li>
									<li>-坐垫</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>餐厨</a>
								<ul class="nav-bar">
									<li>-餐具</li>
									<li>-厨具</li>
									<li>-水具</li>
									<li>-烹饪工具</li>
									<li>-厨房配件</li>
									<li>-保险收纳</li>
									<li>-咖啡具</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>装饰</a>
								<ul class="nav-bar">
									<li>-墙面装饰</li>
									<li>-桌面装饰</li>
									<li>-挂件/摆件</li>
									<li>-钟表</li>
									<li>-地毯</li>
									<li>-材料/工具</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>浴室/收纳</a>
								<ul class="nav-bar">
									<li>-盥洗</li>
									<li>-洁具</li>
									<li>-箱</li>
									<li>-袋</li>
									<li>-盒</li>
									<li>-筐</li>
									<li>-罐</li>
									<li>-置物架</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>灯</a>
								<ul class="nav-bar">
									<li>-台灯</li>
									<li>-吊灯</li>
									<li>-落地灯</li>
									<li>-夜灯</li>

								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>家具</a>
								<ul class="nav-bar">
									<li>-椅子/凳子</li>
									<li>-桌子</li>
									<li>-床</li>
									<li>-柜子</li>
									<li>-架子</li>
									<li>-沙发</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>文具</a>
								<ul class="nav-bar">
									<li>-笔</li>
									<li>-本</li>
									<li>-明信片</li>
									<li>-收纳</li>
									<li>-其他</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>清理</a>
								<ul class="nav-bar">
									<li>-净化除味</li>
									<li>-清洁工具</li>
									<li>-一次性用品</li>
									<li>-其他</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>家电</a>
								<ul class="nav-bar">
									<li>-生活家电</li>
									<li>-个人护理</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>园艺/宠物</a>
								<ul class="nav-bar">
									<li>-鲜花绿植</li>
									<li>-园艺工具</li>
									<li>-花器</li>
									<li>-宠物生活</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>雨具</a>
								<ul class="nav-bar">
									<li>-雨衣</li>
									<li>-雨伞</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>汽车用品</a>
								<ul class="nav-bar">
									<li>-汽车装饰</li>
								</ul>
							</li>
						</ul>
					
					<li>
						<a class="title">时间</a>
					</li>
						<ul class="nav-">
							<li>
								<a class="title-"><i>-</i>腕表</a>
								<ul class="nav-bar">
									<li>-男表</li>
									<li>-女表</li>
									<li>-时装表</li>
									<li>-日本表</li>
									<li>-瑞士表</li>
									<li>-国产表</li>
								</ul>
							</li>
							<li><a>钟</a></li>
						</ul>
					
					<li>
						<a class="title">3C数码</a>
					</li>
						<ul class="nav-">
							<li>
								<a class="title-"><i>-</i>数码影音</a>
								<ul class="nav-bar">
									<li>-耳机</li>
									<li>-音箱</li>
									<li>-摄影摄像</li>
									<li>-数码配件</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>电脑周边</a>
								<ul class="nav-bar">
									<li>-存储工具</li>
									<li>-外设产品</li>
									<li>-其他</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>手机配件</a>
								<ul class="nav-bar">
									<li>-壳/膜</li>
									<li>-手机配件</li>
									<li>-数据线</li>
									<li>-电源/充电</li>
									<li>-配饰</li>
								</ul>
							</li>
						</ul>
					
					<li>
						<a class="title-"><i>-</i>情侣装</a>
					</li>
					<li>
						<a class="title">母婴儿童</a>
					</li>
						<ul class="nav-">
							<li><a>儿童服饰</a></li>
							<li>
								<a class="title-"><i>-</i>母婴用品</a>
								<ul class="nav-bar">
									<li>-用品</li>
									<li>-护理</li>
									<li>-婴儿服装</li>
								</ul>
							</li>
						</ul>
					
					<li>
						<a class="title">内衣</a>
					</li>
						<ul class="nav-">
							<li>
								<a class="title-"><i>-</i>男生</a>
								<ul class="nav-bar">
									<li>-内裤</li>
									<li>-睡衣/家居服</li>
									<li>-内衣</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>女生</a>
								<ul class="nav-bar">
									<li>-内衣</li>
									<li>-内裤</li>
									<li>-睡衣/家居服</li>
								</ul>
							</li>
						</ul>
					
					<li>
						<a class="title">运动户外</a>
					</li>
						<ul class="nav-">
							<li>
								<a class="title-"><i>-</i>装备</a>
								<ul class="nav-bar">
									<li>-自行车</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>服饰</a>
								<ul class="nav-bar">
									<li>-上装</li>
									<li>-下装</li>

								</ul>
							</li>
							<li><a>其他</a></li>
						</ul>
					
					<li>
						<a class="title">玩具</a>
					</li>
						<ul class="nav-">
							<li><a>创意</a></li>
							<li><a>公仔</a></li>
							<li><a>拼插</a></li>
							<li><a>DIY</a></li>
							<li><a>益智</a></li>
						</ul>
					
					<li>
						<a class="title">汽车用品</a>
					</li>
						<ul class="nav-">
							<li><a>情节美容</a></li>
							<li><a>汽车装饰</a></li>
						</ul>
					
					<li>
						<a class="title">艺术品</a>
					</li>
					<li>
						<a class="title">图书</a>
					</li>
						<ul class="nav-">
							<li>
								<a class="title-"><i>-</i>社科</a>
								<ul class="nav-bar">
									<li>-哲学</li>
								</ul>
							</li>
							<li>
								<a class="title-"><i>-</i>生活</a>
								<ul class="nav-bar">
									<li>-时尚生活</li>
								</ul>
							</li>
							<li><a>绘本</a></li>
						</ul>
					
				</ul>
			</div>
			<div class="right">
				<div class="top">
					 <div class="sort">
					 	<a>综合排序</a>
					 	<a>喜欢数量</a>
					 	<a>上架时间</a>
					 	<a>价格</a>
					 </div>  
				    <div class="pag">
						<p class="man"><<上一页</p>
						<a class="number">1</a>
						<a class="number">2</a>
						<a class="number">3</a>
						<a class="number">4</a>
						<a class="number">5</a>
						<a class="number">6</a>
						<a class="number">...</a>
						<a class="number">79</a>
						<p class="woman">下一页>></p>
					</div>
				</div>
				<div class="grid">
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/3.jpg">
						<p class="name">【豆瓣专享】童年的味道 黄桃罐头12罐*425g</p>
						<p class="brand">果味家园</p>
						<div class="info">
							<del>￥128.00</del>
							<span class="price">￥108.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>64</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/6.jpg">
						<p class="name">粮赞丨小酥薄饼16枚*2盒</p>
						<p class="brand">粮赞</p>
						<div class="info">
							<span class="price">￥48.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>47</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/7.jpg">
						<p class="name">UMTEA 德国进口白茶(芒香白茶)</p>
						<p class="brand">UMTEA</p>
						<div class="info">
							<span class="price">￥59.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>87</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/8.jpg">
						<p class="name">雕刻时光咖啡馆 | 开心时光挂耳咖啡马克杯组合</p>
						<p class="brand">雕刻时光</p>
						<div class="info">
							<span class="price">￥78.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>89</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/9.jpg">
						<p class="name">粮赞丨古法米酒（窖藏一年）500ml</p>
						<p class="brand">粮赞</p>
						<div class="info">
						
							<span class="price">￥48.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>141</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/10.jpg">
						<p class="name">青品尚 原酿森林雪蜜 来自长白山原始森林 280g</p>
						<p class="brand">青品尚</p>
						<div class="info">
							<span class="price">￥40.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>238</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/11.jpg">
						<p class="name">青品尚 东北特级无根头茬黑木耳 补铁 清肠道 利血</p>
						<p class="brand">青品尚</p>
						<div class="info">
							
							<span class="price">￥75.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>24</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/12.jpg">
						<p class="name">青品尚 东北传统手工大煎饼 香甜易消化 零添加 4份/</p>
						<p class="brand">青品尚  </p>
						<div class="info">
							<span class="price">￥8.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>24</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/13.jpg">
						<p class="name">等一味食材 | 手工姜枣糖 生姜枣泥糖 潮汕特产 暖胃零</p>
						<p class="brand">等一味食材 </p>
						<div class="info">

							<span class="price">￥26.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>90</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/14.jpg">
						<p class="name">【12节大促 今日买一送一】头发是肾开的花 素域 无</p>
						<p class="brand">素域SURYOUR</p>
						<div class="info">
							<del>￥238.00</del>
							<span class="price">￥119.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>66</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/15.jpg">
						<p class="name">味之初 芝士盛宴蛋糕 1磅454g重芝士cheesecake全</p>
						<p class="brand">味之初 </p>
						<div class="info">
							<del>￥128.00</del>
							<span class="price">￥108.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>64</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/16.jpg">
						<p class="name">青品尚 东北农家小香菇 剪根小香菇 小小的菌菇</p>
						<p class="brand">青品尚</p>
						<div class="info">
							<del>￥159.00</del>
							<span class="price">￥139.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>68</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/17.jpg">
						<p class="name">【12节大促 今日买一送一】头发是肾开的花 素域 无</p>
						<p class="brand">素域SURYOUR</p>
						<div class="info">
							<del>￥238.00</del>
							<span class="price">￥119.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>66</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/18.jpg">
						<p class="name">花痴礼盒 痴心为你</p>
						<p class="brand">花痴</p>
						<div class="info">
							<del>￥159.00</del>
							<span class="price">￥139.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>68</em>
							</div>
						</div>
					</div>
					<div class="product">
						<img src="__PUBLIC__/Web/list/images/19.jpg">
						<p class="name">青品尚 东北农家糙米 煮粥养胃 五谷杂粮 250g</p>
						<p class="brand">青品尚 </p>
						<div class="info">
							<span class="price">￥5.00</span>
							<div class="like">
							    <i><img src="__PUBLIC__/Web/list/images/5.png"></i>
								<em>28</em>
							</div>
						</div>
					</div>
				</div>
				<div class="top_">
				    <div class="pag_">
						<p class="man_"><<上一页</p>
						<a class="number_">1</a>
						<a class="number_">2</a>
						<a class="number_">3</a>
						<a class="number_">4</a>
						<a class="number_">5</a>
						<a class="number_">6</a>
						<a class="number_">...</a>
						<a class="number_">79</a>
						<p class="woman_">下一页>></p>
					</div>
				</div>
			</div>
        </div>
        <div class="bottom">
        	<div class="letter">
        		<i></i>
        		<span>申请入驻</span>
        		<a>逗邮</a>·
        		<a>电子邮件</a>
        	</div>
        	<div class="message">
        		<span>© 2005－2016 douban.com, all rights reserved 北京豆网科技有限公司</span>
        		<div class="right">
	        		<a>关于豆瓣</a>·
	        		<a>在豆瓣工作</a>·
	        		<a>联系我们</a>·
	        		<a>免费声明</a>·
	        		<a>帮助中心</a>·
	        		<a>移动应用</a>·
	        		<a>豆瓣广告</a>
        		</div>
         	</div>
        </div>
	</div>
</body>
</html>