<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Wap/index/css/swiper.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Wap/index/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Wap/index/css/index.css">
	<script type="text/javascript" src="__PUBLIC__/Wap/index/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Wap/index/js/swiper.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Wap/index/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Wap/index/js/index.js"></script>
</head>
<body>
	<div class="head">
		<div class="head_top clearfix">
			<a href="">豆瓣市集</a>
			<a class="ht_r" href=""><i class="fa fa-search"></i></a>
		</div>
		<div class="head_nav">
			<include file="Public:menu" />
		</div>
	</div>
	<div class="body">
		<div class="fs_lb">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide"><img class="img-responsive" src="__PUBLIC__/Wap/index/images/5.jpg" alt=""></div>
			        <div class="swiper-slide"><img class="img-responsive" src="__PUBLIC__/Wap/index/images/6.jpg" alt=""></div>
			        <div class="swiper-slide"><img class="img-responsive" src="__PUBLIC__/Wap/index/images/5.jpg" alt=""></div>
			    </div>
			    <!-- 如果需要分页器 -->
			    <div class="swiper-pagination"></div>

			</div>
		</div>
		<div class="goods_nav clearfix">
			<!-- <div class="goods_boxs clearfix">
				<div class="goods_box">
					<div class="box_pic">
						<a href="">
							<div class="p556654"></div>
						</a>
					</div>
					<div class="box_word">
						<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
						<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
					</div>
				</div>
			</div>
			<div class="goods_boxs clearfix">
				<div class="goods_box">
					<div class="box_pic">
						<a href="">
							<div class="p556174"></div>
						</a>
					</div>
					<div class="box_word">
						<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
						<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
					</div>
				</div>
			</div>
			<div class="goods_boxs clearfix">
				<div class="goods_box">
					<div class="box_pic">
						<a href="">
							<div class="p510080"></div>
						</a>
					</div>
					<div class="box_word">
						<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
						<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
					</div>
				</div>
			</div>
			<div class="goods_boxs clearfix">
				<div class="goods_box">
					<div class="box_pic">
						<a href="">
							<div class="p556277"></div>
						</a>
					</div>
					<div class="box_word">
						<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
						<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
					</div>
				</div>
			</div>
			<div class="goods_boxs clearfix">
				<div class="goods_box">
					<div class="box_pic">
						<a href="">
							<div class="p558909"></div>
						</a>
					</div>
					<div class="box_word">
						<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
						<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
					</div>
				</div>
			</div>
			<div class="goods_boxs clearfix">
				<div class="goods_box">
					<div class="box_pic">
						<a href="">
							<div class="p558711"></div>
						</a>
					</div>
					<div class="box_word">
						<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
						<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
					</div>
				</div>
			</div> -->
		</div>
		<div class="quality">
			<!-- <div class="quality_box">
				<div class="qb_name">
					<a href=""><img src="__PUBLIC__/Wap/index/images/9d03efbf705887d.jpg"></a>
					<a href="">PISN</a>
					<span>秋冬系列，每周上新，注意关注偶</span>
				</div>
				
					<ul class="box">
				        <li><div>
				        	<a href=""><img src="__PUBLIC__/Wap/index/images/1.jpg"></a>
				        	<div class="quality_box_word">
								<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
								<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
							</div>
				        </div></li>
				        <li><div>
				        	<a href=""><img src="__PUBLIC__/Wap/index/images/1.jpg"></a>
				        	<div class="quality_box_word">
								<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
								<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
							</div>
				        </div></li><li><div>
				        	<a href=""><img src="__PUBLIC__/Wap/index/images/1.jpg"></a>
				        	<div class="quality_box_word">
								<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
								<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
							</div>
				        </div></li><li><div>
				        	<a href=""><img src="__PUBLIC__/Wap/index/images/1.jpg"></a>
				        	<div class="quality_box_word">
								<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
								<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
							</div>
				        </div></li><li><div>
				        	<a href=""><img src="__PUBLIC__/Wap/index/images/1.jpg"></a>
				        	<div class="quality_box_word">
								<p><a href="">先笙绘冬季新款中长款闪电棉衣</a></p>
								<p><span class="good_price">￥294</span><del class="good_oprice">￥368</del></p>
							</div>
				        </div></li>
				    </ul>
				
				<div class="quality_lb_more"><a href="">进入店铺 >></a></div>
			</div>
		</div> -->
	</div>

</body>
<script id="quality_box" type="text/x-jquery-tmpl">
	{{each floor}}
		<div class="quality_box">
			<div class="qb_name">
				<a href=""><img src="__PUBLIC__/Wap/index/images/9d03efbf705887d.jpg"></a>
				<a href="">{{= $value.name}}</a>
				<span>秋冬系列，每周上新，注意关注偶</span>
			</div>
			<ul class="box">
				{{each goods}}
					<li><div>
			        	<a href={{= $value.goods_url}}><img src="__PUBLIC__/Wap/index/images/1.jpg"></a>
			        	<div class="quality_box_word">
							<p><a href={{= $value.goods_url}}>{{= $value.goods_name}}</a></p>
							<p><span class="good_price">{{= $value.goods_price}}</span><del class="good_oprice">{{= $value.goods_market_price}}</del></p>
						</div>
			        </div></li>
				{{/each}}
			</ul>
			<div class="quality_lb_more"><a href="">进入分类 >></a></div>
		</div>
	{{/each}}
</script>
<script id="goods_boxs" type="text/x-jquery-tmpl">
	{{each recomment_goods}}
		<div class="goods_boxs clearfix">
				<div class="goods_box">
					<div class="box_pic">
						<a href={{= $value.goods_url}}>
							<div class="p558711"></div>
						</a>
					</div>
					<div class="box_word">
						<p><a href={{= $value.goods_url}}>{{= $value.goods_name}}</a></p>
						<p><span class="good_price">{{= $value.goods_market_price}}</span><del class="good_oprice">{{= $value.goods_price}}</del></p>
					</div>
				</div>
			</div>
	{{/each}}
</script>
</html>