<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link  href="__PUBLIC__/Wap/goodslist/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/Wap/goodslist/css/diet.css">
	<script src="__PUBLIC__/Wap/goodslist/js/jquery.js"></script>
	<script src="__PUBLIC__/Wap/plugin/jquery.tmpl.min.js"></script>
	<script src="__PUBLIC__/Wap/goodslist/js/diet.js"></script>
	
	<title></title>
</head>
<body>
<div class="diet-header">
	<a href="http://ztshop.my/index.php/wap/category/index">首页</a>
</div>

		<div class="diet-nav-content">
			<ul class="diet-nav">			
				<li><a href="#" class="nav-style">全部</a></li>
			</ul>
		</div>
		<div class="diet-body">
			<ul class="nav-bigbox">
				
			</ul>
			<div class="diet-order">
				<a href="#" class="order-style">综合排序<i class="fa fa-long-arrow-down"></i></a><a href="#">上架时间<i class="fa fa-long-arrow-down"></i></a><a href="#">价格<i class="fa fa-long-arrow-down"></i></a><a href="#">喜欢数<i class="fa fa-long-arrow-down"></i></a>
			</div>
			<div>
				<ul class="all-sth clearfix">				
				</ul>
			</div>
</div>
</body>
</html>