html,body,div,p,img,h2,ul,li,a{
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: "微软雅黑";
}
body{
	background-color: #f8f8fe;
}
ul li{
	list-style: none;
	float: left;
}
.clearfix::after{
	height: 0;
	content: "";
	clear: both;
	display: block;
}
.hide{
	display: none;
}
.header{
	width: 100%;
	background-color: #68cb78;
}
.dologo{
	float: left;
	margin-left: 5%;
	height: 5rem;
	width: 10rem;
}
.nav{
	width: 100%;
	background-color: #fff;
	border-bottom:.2rem solid #68cb78;
}
.nav ul{
	width: 90%;
	margin-left: 5%;
}
/*.nav .nav_my{
	float: right;
	margin-right: 0;
}*/
.nav ul li{
	width: 25%;
	text-align: center;
}
.nav ul li a{
	font-size: 1.5rem;
	text-decoration: none;
	line-height: 3;
	color: #4a4a4a;
}
.dologo img{
	margin-top: 1.3rem;
}
.header i{
	font-size: 2.5rem;
    line-height: 5rem;
	color: #fff;
	float: right;
	margin-right: 5%;
}
.mng,.address{
	width: 100%;
	border-bottom: .2rem solid #f0f0f0;
}
.mng p,.address p{
	width: 90%;
	margin-left: 5%;
	line-height: 4rem;	
}
.mng_l,.address_l{
	float: left;
	font-size: 1.5rem;
	color: #4a4a4a;
}
.mng_r{
	float: right;
	color: #ccc;
	font-size: 1.3rem;
}
.mng i,.address i{
	float: right;
	color: #ccc;
	font-size: 3.5rem;
	line-height: 4rem;
	margin-left: 2rem;
}
.order{
	width: 100%;
	background-color: #fff;
	border-bottom: .2rem solid #f0f0f0;
}
.order ul{
	width: 90%;
	margin-left: 5%;
}
.order li{
	width: 25%;
	line-height: 4rem;
	text-align: center;
}
.order li a{
	color: #ccc;
	text-decoration: none;
}
.order li a span{
	color: red;
	margin-left: .5rem;
	font-weight: bold;
}
button{
	width: 90%;
	margin-left: 5%;
	margin-top: 10rem;
	border-radius: .3rem;
	background-color: #e17c72;
	border:none;
	color: #fff;
	font-size: 1.5rem;
	line-height: 3rem;
}