<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Wap/orderlist/css/my.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Wap/orderlist/css/font-awesome.min.css">
	<script type="text/javascript" src="__PUBLIC__/Wap/orderlist/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Wap/orderlist/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Wap/orderlist/js/my.js"></script>
	<title>我的市集</title>
</head>
<body>
<div class="header clearfix">
	<div class="dologo">
		<img src="__PUBLIC__/Wap/orderlist/images/logo.jpg">
	</div>
	<i class="fa fa-search"></i>
</div>
<div class="nav">
	<include file="Public:menu" />
</div>
<div class="mng">
	<p class="clearfix"><span class="mng_l">订单管理</span><i class="fa fa-angle-right"></i><span class="mng_r">查看全部订单 </span></p>
</div>
<div class="order">
	<ul class="clearfix">
		<li class="payment"><!-- <a href=""> -->代付款<span>1</span></li>
		<li class="delivery"><!-- <a href=""> -->待发货<span></span></li>
		<li class="waitgoods">待收货<span></span></li>
		<li class="return">退款/退货<span></span></li>
	</ul>
</div>
<div class="address">
	<p class="clearfix"><span class="address_l">我的收货地址</span><i class="fa fa-angle-right"></i></p>
</div>
<button>退出登录</button>
</body>
</html>