<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Wap/shopcarli/css/font-awesome.min.css">	
	<link rel="stylesheet" href="__PUBLIC__/Wap/shopcarli/css/swiper.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Wap/shopcarli/css/shopcate.css">
	<script src="__PUBLIC__/Wap/shopcarli/js/jquery.js"></script>
	<script src="__PUBLIC__/Wap/shopcarli/js/shopcate.js"></script>
	<title></title>
</head>
<body>
	 <div>
	 	<div class="head">
	 		<div class="header">
	 			<a href="">豆瓣市集</a>
	 			<i class="fa fa-search"></i>
	 		</div>
	 		<div class="classify">
	 			<include file="Public:menu" />
	 		</div>
	 	</div>
	 	<div class="carnull hide">
			<div class="carnull_img">
				<div class="car_img"></div>
				<p class="nullcar">购物车是空空哒~</p>
				<p class="nullgo">赶紧去收集心仪的商品吧</p>
				<p class="goto"><a href="http://ztshop.my/index.php/wap/index/index">去逛逛</a></p>
			</div>
		</div>
	 	<div class="body">
		 	<!-- <div class="items">
		 		<div class="selected">
		 			<a href="###" class="checkall_btn">全选</a>
		 			<span class="store">店铺:</span>
		 			<a href="" class="store_name">花与爱丽丝</a>
		 		</div>
		 		<div class="item">
		 			<div class="box">
		 				<i class="fa fa-check"></i>
		 			</div>
		 			<div class="detail">
		 			    <div class="detail_img"><img src="__PUBLIC__/Wap/shopcarli/images/shoes.jpg"></div>
		 				<div class="detail_name">
		 					<p class="name"><a href="">hanalice 夏天来了：糖果色高跟磨砂皮凉鞋</a></p>
		 					<p class="delivery">
		 						<span>预售</span>
		 						<span>付款后7天发货，有现货会马上发，如果刚好没有现货需要等5-7天。</span>
		 					</p>
		 				</div>
		 				<div class="choose">
		 					<ul class="clearfix">
		 						<li>
		 							<span>颜色:</span>
		 							<span>黑色</span>
		 							<span>/</span>
		 						</li>
		 						<li>
		 							<span>尺寸:</span>
		 							<span>35</span>
		 							<span>/</span>
		 						</li>
		 						<li>
		 							<span>单价:</span>
		 							<span class="yuan">￥</span><span class="unit_price"></span>
		 						</li>
		 					</ul>
		 				</div>
		 				<div class="sum clearfix">
							<span class="number">数量</span>
							<div class="minusLeft"><a href="###"><i class="fa fa-minus"></i></a></div>
							<div class="buy_number">1</div>
							<div class="minusRight background"><a href="###"><i class="fa fa-plus"></i></a></div>
						</div> 
						<div class="item_price">
							<p><span class="money">金额:</span><span class="yuan">￥</span><span class="price">299.00</span><del>￥</del><del class="del">399.00</del><del class="del_price hide">399.00</del></p>
							<p class="delete"><span"" class="delete_btn">删除</></p>
						</div>
		 			</div>
		 		</div>
		 	</div> -->
		 	<!-- <div class="items">
		 		<div class="selected">
		 			<a href="###" class="checkall_btn">全选</a>
		 			<span class="store">店铺:</span>
		 			<a href="" class="store_name">花与爱丽丝</a>
		 		</div>
		 		<div class="item">
		 			<div class="box">
		 				<i class="fa fa-check"></i>
		 			</div>
		 			<div class="detail">
		 			    <div class="detail_img"><img src="__PUBLIC__/Wap/shopcarli/images/shoes.jpg"></div>
		 				<div class="detail_name">
		 					<p class="name"><a href="">hanalice 夏天来了：糖果色高跟磨砂皮凉鞋</a></p>
		 					<p class="delivery">
		 						<span>预售</span>
		 						<span>付款后7天发货，有现货会马上发，如果刚好没有现货需要等5-7天。</span>
		 					</p>
		 				</div>
		 				<div class="choose">
		 					<ul class="clearfix">
		 						<li>
		 							<span>颜色:</span>
		 							<span>黑色</span>
		 							<span>/</span>
		 						</li>
		 						<li>
		 							<span>尺寸:</span>
		 							<span>35</span>
		 							<span>/</span>
		 						</li>
		 						<li>
		 							<span>单价:</span>
		 							<span class="yuan">￥</span><span class="unit_price">299.00</span>
		 						</li>
		 					</ul>
		 				</div>
		 				<div class="sum clearfix">
							<span class="number">数量</span>
							<div class="minusLeft"><a href="###"><i class="fa fa-minus"></i></a></div>
							<div class="buy_number">1</div>
							<div class="minusRight background"><a href="###"><i class="fa fa-plus"></i></a></div>
						</div> 
						<div class="item_price">
							<p><span class="money">金额:</span><span class="yuan">￥</span><span class="price">299.00</span><del>￥</del><del class="del">399.00</del><del class="del_price hide">399.00</del></p>
							<p class="delete"><a href="" class="delete_btn">删除</a></p>
						</div>
		 			</div>
		 		</div>
		 </div> -->
	 	</div>
	 	<div class="total">
	 		<div class="total_price">
	 			<i class="fa fa-check-circle circle"></i>
	 			<a href="###" class="all_select">全选</a>
	 			<span class="summation">合计</span>
	 			<span class="symbol">￥</span><span class="all_price">0.00</span>
	 		</div>
	 		<div class="settlement">
	 			<span>去结算</span><!-- <span class="num">0</span><span>)</span> -->
	 		</div>
	 	</div>
	 </div>
</body>
</html>