<!DOCTYPE html>
<html>
<head>
	<mata charset="utf-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Wap/shopcarli/css/shopcar.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Wap/shopcarli/css/font-awesome.min.css">
    <script type="text/javascript" src="__PUBLIC__/Wap/shopcarli/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Wap/shopcarli/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Wap/shopcarli/js/shopcar.js"></script>
	<title>购物车</title>
</head>
<body>
<div class="header clearfix">
	<div class="dologo">
		<img src="__PUBLIC__/Wap/shopcarli/images/logo.jpg">
	</div>
	<i class="fa fa-search"></i>
</div>
<div class="nav">
	<ul class="clearfix">
		<li><a href="">首页</a></li>
		<li><a href="">分类</a></li>
		<li><a href="">购物车</a></li>
		<li class="nav_my"><a href="">我的</a></li>
	</ul>
</div>
<div class="carnull hide">
	<div class="carnull_img">
		<div class="car_img"></div>
		<p class="nullcar">购物车是空空哒~</p>
		<p class="nullgo">赶紧去收集心仪的商品吧</p>
		<p class="goto"><a href="">去逛逛</a></p>
	</div>
</div>
<div class="car_nav clearfix">
		<button>全选</button><span>店铺：</span>
		<span class="store_name">良品袜子</span>
	</div>
<div class="car_container">
	<div class="car_item">
		<div class="car_border">
			<div class="goods">
				<div class="goods_title clearfix">
					<div class="goods_img">
						<img src="__PUBLIC__/Wap/shopcarli/images/p510080.jpg">
					</div>
					<div class="goods_name">
						<span><a href="">良朴细条纹中筒袜女袜 五双混色装</a></span>
					</div>
				</div>
				<div class="goods_contant">
					<p><span>颜色：</span><span>五色混色装/</span></p>
					<p><span>尺寸：</span><span>均码（36-39码）/</span></p>
					<p><span>单价：</span><span class="goods_money">65</span></p>
				</div>
			</div>
			<div class="goods_num clearfix">
				<span>数量：</span>
				<button class="goods_remove">-</button>
				<input type="tel" value="1" class="put">
				<button class="goods_add">+</button>	
			</div>
			<div class="goods_allmoney">
				<span>金额：</span><span class="goods_money_all">65</span>
			</div>
			<div class="goods_del">
				<span>删除</span>
			</div>
			<div class="check">
				<i class="fa fa-check"></i>
			</div>
		</div>
	</div>	
</div>
<!-- <div class="car_container">
	<div class="car_nav clearfix">
		<span>店铺：</span>
		<span class="store_name">良品袜子</span>
	</div>
	<div class="car_item">
		<div class="car_border">
			<div class="goods">
				<div class="goods_title clearfix">
					<div class="goods_img">
						<img src="__PUBLIC__/Wap/shopcarli/images/p510080.jpg">
					</div>
					<div class="goods_name">
						<span><a href="">良朴细条纹中筒袜女袜 五双混色装</a></span>
					</div>
				</div>
				<div class="goods_contant">
					<p><span>颜色：</span><span>五色混色装/</span></p>
					<p><span>尺寸：</span><span>均码（36-39码）/</span></p>
					<p><span>单价：</span><span class="goods_money">65</span></p>
				</div>
			</div>
			<div class="goods_num clearfix">
				<span>数量：</span>
				<button class="goods_remove">-</button>
				<input type="tel" value="1">
				<button class="goods_add">+</button>
			</div>
			<div class="goods_allmoney">
				<span>金额：</span><span class="goods_money_all">65</span>
			</div>
			<div class="goods_del">
				<span>删除</span>
			</div>
			<div class="check">
				<i class="fa fa-check"></i>
			</div>
		</div>
	</div>	
</div> -->

<div class="footer clearfix">
	<a href="#" class="all"><i class="fa fa-check-circle-o"></i><span>全选</span></a>
	<div class="footer_allmoney">
		<span>总计：￥</span><span class="carmoney">0.0</span>
	</div>
	<a href="" class="gotonum">去结算<span>(</span><span class="gotonum_num">0</span><span>)</span></a>
</div>
</body>
</html>